services:
  postgres:
    container_name: paperlessPostgresProd

  redis:
    container_name: paperlessRedisProd

  gotenberg:
    container_name: paperlessGotenbergProd

  tika:
    container_name: paperlessTikaProd

  paperless:
    container_name: paperlessProd

    environment:
      VIRTUAL_HOST: ${PAPERLESS_HOST?Missing environment variable see readme}
      VIRTUAL_PORT: 8000
      LETSENCRYPT_HOST: ${PAPERLESS_LETSENCRYPT_HOST-${PAPERLESS_HOST}}
      PAPERLESS_URL: https://${PAPERLESS_HOST:?Missing environment variable see readme}
      PAPERLESS_SECRET_KEY: ${PAPERLESS_SECRET_KEY?Missing environment variable see readme}
      ACME_CHALLENGE: ${ACME_CHALLENGE-HTTP-01}

    networks:
      - default
      - nginxproxynet

  ftp:
    container_name: paperlessFtpProd
    environment:
      ADDRESS: ${PAPERLESS_HOST}

networks:
  nginxproxynet:
    name: nginxproxynet
    external: true